{% extends 'base.html.twig' %}

{% block body %}
   <ul>
    <li>Suma: {{ suma }} </li>
    <li>Resta: {{resta}}</li>
    <li>Multiplicación:{{multiplicacion}}</li>
    <li>División:{{division}} </li>
   </ul>
{% endblock %}




